body {
  background: url(./images/bg.jpg) center no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.weatherApp {
  display: flex;
  flex-direction: column;
  padding: 6% 12%;
  color: aliceblue;
}

.city {
  font-size: -webkit-xxx-large;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
}

.weatherInfo h6 {
  margin-block-end: 0;
}

.weatherInfo p {
  margin-block-start: 0.5em;
  font-size: larger;
}

.section {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
}

.temp {
  display: flex;
  flex-direction: row;
}

.feelsLike {
  display: flex;
  flex-direction: row;
}

.humidity {
  display: flex;
  flex-direction: row;
}

.windSpeed {
  display: flex;
  flex-direction: row;
}

.visibility {
  display: flex;
  flex-direction: row;
}

.cloudiness {
  display: flex;
  flex-direction: row;
}