body {
  background: url(./images/bg.jpg) center no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  padding: 6% 12%;
  color: aliceblue;
}

.city {
  font-size: -webkit-xxx-large;
}

.temp {
  font-size: -webkit-xxx-large;
}